/* Stuff from Bootstrap Album */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.business {
  position: relative;
}

.business .banner {
  position: absolute;
  top: 0;
  right: 0.5rem;
  color: #fff;
  background-color: #f00;
  z-index: 1;
  padding: 0.2rem 0.4rem;
}
.business .hide {
  display: none;
}