.signup-wrapper {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-wrapper input {
    border-style: none none solid none;
    outline: none;
  }

form {
    margin-top: 30px;
}

.sign-up-form input {
    margin-top: 30px;
    width: 300px;   
}
#remember_checkbox {
    width: 30px;
}